.ui-center-container {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

tr, .sapUiTableRow, .sapUiTableContentRow, .sapUiTableTr, .sapUiTableRowHidden{
  max-height:38px;
  min-height:38px;
  height:38px;
}

.sapUiTableCell, .sapUiTableContentCell, .sapUiTableDataCell, .sapUiTableCellFirst, .sapUiTableCellFlex{
  max-height:39px;
  min-height:39px;
  height:39px; 
}

.customTreeTableInput{
  min-height:30px;
  max-height:30px;
  height:30px;
}

td{
  width:50%!important;
}
